{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_condensed = true -%}
{%- else -%}
  {%- assign is_condensed = false -%}
{%- endif -%}

{%- assign downcase_title = mega_menu.title | downcase | strip -%}
{%- assign mega_menu_block = nil -%}

{%- for block in section.blocks -%}
  {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

  {%- if downcase_block_menu_item == downcase_title -%}
    {%- assign mega_menu_block = block -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="{{ index }}" class="mega-menu {% if is_floating %}mega-menu--floating{% endif %}" data-type="menu" aria-hidden="true" role="list" {{ mega_menu_block.shopify_attributes }}>
  {%- capture mega_menu_inner -%}
    <div class="mega-menu__inner">
      {%- if mega_menu.links.size > 0 -%}
        {%- capture mega_menu_columns -%}
          {%- for link in mega_menu.links -%}
            <div class="mega-menu__column">
              <a href="{{ link.url }}" class="mega-menu__title heading">{{ link.title }}</a>
              {%- if link.links.size > 0 -%}
                <ul class="mega-menu__linklist" role="list">
                  {%- for sub_link in link.links -%}
                    <li class="mega-menu__item">
                      <a href="{{ sub_link.url }}" class="mega-menu__link link">{{ sub_link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- endcapture -%}
        
        <div class="mega-menu__column-list">
          {{- mega_menu_columns -}}
        </div>
      {%- endif -%}
    </div>
  {%- endcapture -%}

  {%- if is_condensed -%}
    {{- mega_menu_inner -}}
  {%- else -%}
    <div class="container">
      {{- mega_menu_inner -}}
    </div>
  {%- endif -%}
</div>

<style>
  .mega-menu__column-list {
        display: block !important;
  }
 
 .mega-menu__linklist {
    position: absolute;
    left: 50% !important;
 }
.mega-menu__inner {
    display: flex !important;
    justify-content:  flex-start;
    align-items: flex-start;
    overflow: none !important;
}
.mega-menu:not(.mega-menu--floating) .mega-menu__column:first-child {
    margin-left: 0px !important; 
}
  
.mega-menu__linklist{
   background-color: white! important;
    border: none !important;
    box-shadow: none !important;
    min-width:auto !important;
}
 .mega-menu__column{
margin:0px!important;
}

.mega-menu__title{
  padding:10px 19px !important;
  margin-bottom: 0px !important;
  width: 50% !important;
  border-right: 1px solid gray !important;
} 
@media screen and (min-width: 1000px) {
  .nav-bar {
    border-bottom: 1px solid var(--border-color);
    background: var(--header-background) !important;
  }
}

.nav-bar .nav-bar__linklist .nav-bar__item a{
color:white !important;
}

.mega-menu{
  background: var(--header-background) !important;
}
.mega-menu__inner{
  padding:45px 0px !important;
}
.mega-menu__linklist{
   background: var(--header-background) !important;
   position:absolute !important;
   top:45px !important;
}

.mega-menu__linklist:firt-child{
  display:block !important;
}


.nav-bar .nav-bar__linklist .nav-bar__item a{
 {% comment %} background: var(--header-background) !important; {% endcomment %}
}
.mega-menu__linklist .mega-menu__item:hover{
   background: var(--header-background) !important;
       color: inherit;
}
.mega-menu__linklist .mega-menu__item{
  padding:0px !important;
  margin:0px 16px;
}
.nav-bar .nav-bar__linklist .nav-bar__item a:hover{
  color: #0A84FF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
border-radius: 12px;
background: rgba(10, 132, 255, 0.15);
}






  .mega-menu__column:hover .mega-menu__linklist {
    display: block;
  }

  .mega-menu__linklist {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
  }

  .mega-menu__linklist .mega-menu__item {
    padding: 8px 12px;
  }

  .mega-menu__linklist .mega-menu__item:hover {
    background-color: #f1f1f1;
  }
</style>
