{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_condensed = true -%}
{%- else -%}
  {%- assign is_condensed = false -%}
{%- endif -%}

{%- assign downcase_title = mega_menu.title | downcase | strip -%}
{%- assign mega_menu_block = nil -%}

{%- for block in section.blocks -%}
  {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

  {%- if downcase_block_menu_item == downcase_title -%}
    {%- assign mega_menu_block = block -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="{{ index }}" class="mega-menu {% if is_floating %}mega-menu--floating{% endif %}" data-type="menu" aria-hidden="true" role="list" {{ mega_menu_block.shopify_attributes }}>
  {%- capture mega_menu_inner -%}
    <div class="mega-menu__inner">
      {%- if mega_menu.links.size > 0 -%}
        {%- capture mega_menu_columns -%}
          {%- for link in mega_menu.links -%}
            <div class="mega-menu__column">
              <a href="{{ link.url }}" class="mega-menu__title heading">{{ link.title }}</a>
              {%- if link.links.size > 0 -%}
                <ul class="mega-menu__linklist" role="list">
                  {%- for sub_link in link.links -%}
                    <li class="mega-menu__item">
                      <a href="{{ sub_link.url }}" class="mega-menu__link link">{{ sub_link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- endcapture -%}
        
        <div class="mega-menu__column-list">
          {{- mega_menu_columns -}}
        </div>
      {%- endif -%}
    </div>
  {%- endcapture -%}

  {%- if is_condensed -%}
    {{- mega_menu_inner -}}
  {%- else -%}
    <div class="container">
      {{- mega_menu_inner -}}
    </div>
  {%- endif -%}
</div>

<style>
  .mega-menu__column-list {
        display: block !important;
  }
 
 .mega-menu__linklist {
    position: absolute;
    left: 50% !important;
 }
.mega-menu__inner {
    display: flex !important;
    justify-content:  flex-start;
    align-items: flex-start;
    overflow: none !important;
}
.mega-menu:not(.mega-menu--floating) .mega-menu__column:first-child {
    {% comment %} margin-left: 19px !important; {% endcomment %}
}
  
.mega-menu__linklist{
   background-color: white! important;
    border: none !important;
    box-shadow: none !important;
    min-width:auto !important;
}
.mega-menu__column{
margin:0px 19px !important;
}







  .mega-menu__column:hover .mega-menu__linklist {
    display: block;
  }

  .mega-menu__linklist {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
  }

  .mega-menu__linklist .mega-menu__item {
    padding: 8px 12px;
  }

  .mega-menu__linklist .mega-menu__item:hover {
    background-color: #f1f1f1;
  }
</style>
