{% unless settings.shipping_calculator == 'Disabled' %}
  <div class="shipping-estimator form">
  <div id="shipping-calculator" class="form__input-row">
  
      <div class="form__input-wrapper" style="max-width:135px;">
        <label class="form__label form__label--light" for="address_country">Country</label>
        <div class="select-wrapper--primary">

          <select
            id="address_country"
            name="address[country]"
            data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}"
          >
            {{ country_option_tags }}
          </select>
        </div>
      </div>

      <div class="form__input-wrapper" id="address_province_container" style="display:none;max-width:110px;>
        <label class="form__label form__label--light" for="address_province" id="address_province_label"
          >Province</label
        >
        <div class="select-wrapper--primary">
          <select
            id="address_province"
            name="address[province]"
            data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"
          ></select>
        </div>
      </div>

      <div class="form__input-wrapper" style="max-width:110px;">
        <label for="address_zip" class="form__label form__label--light">Zip/Postal Code</label>
        <input
          type="text"
          id="address_zip"
          class="form__field form__field--text"
          name="address[zip]"
          {% if shop.customer_accounts_enabled and customer %}
            value="{{ customer.default_address.zip }}"
          {% endif %}
        >
      </div>
      <p class="field">
        <input
          type="button"
          class="get-rates btn button"
          value="{{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' }}"
        >
      </p>
    </div>
    <div id="wrapper-response"></div>
  
    </div>
{% endunless %}

<script id="shipping-calculator-response-template" type="text/template">
  {% raw %}
  <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
  {{#if success}}
    {{#if rates}}
      {{#rates}}
        {{#if @first}}
            Rates start at {{price}}.
        {{/if}}
      {{/rates}}
    {{else}}
      We do not ship to this destination.
    {{/if}}
  {{else}}
    {{ errorFeedback }}
  {{/if}}
  </p>
  {% endraw %}
</script>

<!--[if lte IE 8]> <style> #shipping-calculator { display: none; } </style> <![endif]-->
