{{ 'knowledge-center.css' | asset_url | stylesheet_tag }}

{% comment %} Get LED template data from product metafield {% endcomment %}
{% assign led_data = product.metafields.custom.led_template_data.value %}
{% assign faq_data = led_data.knowledge_center %}
{% assign faq_categories = faq_data.categories %}

<section class="knowledge-center" id="knowledge-center">
  <div class="knowledge-center__container">
    <!-- Header - Use metafield data if available, otherwise use section settings -->
    {% assign faq_title = faq_data.title | default: section.settings.title | default: 'Knowledge Center' %}
    {% assign faq_subtitle = faq_data.subtitle | default: section.settings.subtitle | default: 'Everything you need to know about Pro Spectrum' %}

    <div class="knowledge-center__header">
      <div class="knowledge-center__header-text">
        <span class="knowledge-center__label">{{ section.settings.label | default: 'KNOWLEDGE CENTER' }}</span>
        <h2 class="knowledge-center__title">{{ faq_title }}</h2>
      </div>
      <p class="knowledge-center__subtitle">{{ faq_subtitle }}</p>
    </div>

    <div class="knowledge-center__content">
    <div class="knowledge-center__search-wrapper">
      <div class="knowledge-center__search-box">
        <div class="knowledge-center__search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M19.5 9.75C19.5 11.9016 18.8016 13.8891 17.625 15.5016L23.5594 21.4406C24.1453 22.0266 24.1453 22.9781 23.5594 23.5641C22.9734 24.15 22.0219 24.15 21.4359 23.5641L15.5016 17.625C13.8891 18.8062 11.9016 19.5 9.75 19.5C4.36406 19.5 0 15.1359 0 9.75C0 4.36406 4.36406 0 9.75 0C15.1359 0 19.5 4.36406 19.5 9.75ZM9.75 16.5C10.6364 16.5 11.5142 16.3254 12.3331 15.9862C13.1521 15.647 13.8962 15.1498 14.523 14.523C15.1498 13.8962 15.647 13.1521 15.9862 12.3331C16.3254 11.5142 16.5 10.6364 16.5 9.75C16.5 8.86358 16.3254 7.98583 15.9862 7.16689C15.647 6.34794 15.1498 5.60382 14.523 4.97703C13.8962 4.35023 13.1521 3.85303 12.3331 3.51381C11.5142 3.17459 10.6364 3 9.75 3C8.86358 3 7.98583 3.17459 7.16689 3.51381C6.34794 3.85303 5.60382 4.35023 4.97703 4.97703C4.35023 5.60382 3.85303 6.34794 3.51381 7.16689C3.17459 7.98583 3 8.86358 3 9.75C3 10.6364 3.17459 11.5142 3.51381 12.3331C3.85303 13.1521 4.35023 13.8962 4.97703 14.523C5.60382 15.1498 6.34794 15.647 7.16689 15.9862C7.98583 16.3254 8.86358 16.5 9.75 16.5Z" fill="#0A84FF"/>
          </svg>
        </div>
        <input type="text" class="knowledge-center__search-input" placeholder="{{ section.settings.search_placeholder | default: 'Search for answers...' }}">
      </div>
    </div>

    <div class="knowledge-center__filters">
      <button class="knowledge-center__filter-btn active" data-filter="all">{{ section.settings.filter_all | default: 'All' }}</button>
      <button class="knowledge-center__filter-btn" data-filter="product">{{ section.settings.filter_product | default: 'Product' }}</button>
      <button class="knowledge-center__filter-btn" data-filter="support">{{ section.settings.filter_support | default: 'Support' }}</button>
      <button class="knowledge-center__filter-btn" data-filter="shipping">{{ section.settings.filter_shipping | default: 'Shipping' }}</button>
      <button class="knowledge-center__filter-btn" data-filter="payment">{{ section.settings.filter_payment | default: 'Payment' }}</button>
      <button class="knowledge-center__filter-btn" data-filter="partnerships">{{ section.settings.filter_partnerships | default: 'Partnerships' }}</button>
    </div>

    <div class="knowledge-center__filter-dropdown">
      <select class="knowledge-center__filter-select" aria-label="Filter categories">
        <option value="all">{{ section.settings.filter_all | default: 'All' }}</option>
        <option value="product">{{ section.settings.filter_product | default: 'Product' }}</option>
        <option value="support">{{ section.settings.filter_support | default: 'Support' }}</option>
        <option value="shipping">{{ section.settings.filter_shipping | default: 'Shipping' }}</option>
        <option value="payment">{{ section.settings.filter_payment | default: 'Payment' }}</option>
        <option value="partnerships">{{ section.settings.filter_partnerships | default: 'Partnerships' }}</option>
      </select>
    </div>

    <!-- FAQ Categories - Use metafield data if available, otherwise use blocks -->
    <div class="knowledge-center__faq-list">
      {% if faq_categories.size > 0 %}
        {% for category in faq_categories %}
          <div class="knowledge-center__accordion" data-category="{{ category.filter }}">
            <button class="knowledge-center__accordion-header" aria-expanded="false">
              <div class="knowledge-center__accordion-title-wrapper">
                <div class="knowledge-center__accordion-icon">
                  {% case category.icon %}
                    {% when 'info' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24" fill="none">
                        <path d="M2.1875 0C0.979818 0 0 0.979818 0 2.1875V21.1458C0 22.3535 0.979818 23.3333 2.1875 23.3333H6.5625V19.6875C6.5625 18.4798 7.54232 17.5 8.75 17.5C9.95768 17.5 10.9375 18.4798 10.9375 19.6875V23.3333H15.3125C16.5202 23.3333 17.5 22.3535 17.5 21.1458V2.1875C17.5 0.979818 16.5202 0 15.3125 0H2.1875ZM2.91667 10.9375C2.91667 10.5365 3.24479 10.2083 3.64583 10.2083H5.10417C5.50521 10.2083 5.83333 10.5365 5.83333 10.9375V12.3958C5.83333 12.7969 5.50521 13.125 5.10417 13.125H3.64583C3.24479 13.125 2.91667 12.7969 2.91667 12.3958V10.9375ZM8.02083 10.2083H9.47917C9.88021 10.2083 10.2083 10.5365 10.2083 10.9375V12.3958C10.2083 12.7969 9.88021 13.125 9.47917 13.125H8.02083C7.61979 13.125 7.29167 12.7969 7.29167 12.3958V10.9375C7.29167 10.5365 7.61979 10.2083 8.02083 10.2083ZM11.6667 10.9375C11.6667 10.5365 11.9948 10.2083 12.3958 10.2083H13.8542C14.2552 10.2083 14.5833 10.5365 14.5833 10.9375V12.3958C14.5833 12.7969 14.2552 13.125 13.8542 13.125H12.3958C11.9948 13.125 11.6667 12.7969 11.6667 12.3958V10.9375ZM3.64583 4.375H5.10417C5.50521 4.375 5.83333 4.70312 5.83333 5.10417V6.5625C5.83333 6.96354 5.50521 7.29167 5.10417 7.29167H3.64583C3.24479 7.29167 2.91667 6.96354 2.91667 6.5625V5.10417C2.91667 4.70312 3.24479 4.375 3.64583 4.375ZM7.29167 5.10417C7.29167 4.70312 7.61979 4.375 8.02083 4.375H9.47917C9.88021 4.375 10.2083 4.70312 10.2083 5.10417V6.5625C10.2083 6.96354 9.88021 7.29167 9.47917 7.29167H8.02083C7.61979 7.29167 7.29167 6.96354 7.29167 6.5625V5.10417ZM12.3958 4.375H13.8542C14.2552 4.375 14.5833 4.70312 14.5833 5.10417V6.5625C14.5833 6.96354 14.2552 7.29167 13.8542 7.29167H12.3958C11.9948 7.29167 11.6667 6.96354 11.6667 6.5625V5.10417C11.6667 4.70312 11.9948 4.375 12.3958 4.375Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'monitor' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                        <path d="M2 0C0.896875 0 0 0.896875 0 2V11C0 12.1031 0.896875 13 2 13H7.5L7.16563 14H5C4.44688 14 4 14.4469 4 15C4 15.5531 4.44688 16 5 16H13C13.5531 16 14 15.5531 14 15C14 14.4469 13.5531 14 13 14H10.8344L10.5 13H16C17.1031 13 18 12.1031 18 11V2C18 0.896875 17.1031 0 16 0H2ZM16 2V11H2V2H16Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'tool' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M2.76428 0.175227C2.43029 -0.0849289 1.95568 -0.0532883 1.65334 0.24554L0.24709 1.65179C-0.0517381 1.95062 -0.0833787 2.42523 0.173262 2.76273L2.98576 6.41898C3.14397 6.6264 3.39357 6.74945 3.65373 6.74945H5.55568L9.38772 10.5815C8.87092 11.601 9.03615 12.8807 9.89045 13.7315L13.8279 17.669C14.2674 18.1084 14.9811 18.1084 15.4205 17.669L17.6705 15.419C18.11 14.9795 18.11 14.2659 17.6705 13.8264L13.733 9.8889C12.8822 9.03812 11.6026 8.86937 10.583 9.38616L6.751 5.55413V3.6557C6.751 3.39202 6.62795 3.14593 6.42053 2.98773L2.76428 0.175227ZM0.700606 13.9248C0.254121 14.3713 0.000996255 14.9795 0.000996255 15.6123C0.000996255 16.9307 1.06975 17.9994 2.38811 17.9994C3.02092 17.9994 3.62912 17.7463 4.07561 17.2998L8.21701 13.1584C7.94279 12.4237 7.90061 11.6256 8.09045 10.8698L5.92131 8.70062L0.700606 13.9248ZM18.001 5.06195C18.001 4.6928 17.9623 4.33421 17.8885 3.98968C17.8041 3.59593 17.3225 3.49398 17.0377 3.77874L14.7912 6.02523C14.6858 6.1307 14.5416 6.19046 14.394 6.19046H12.376C12.0666 6.19046 11.8135 5.93734 11.8135 5.62796V3.60648C11.8135 3.45882 11.8733 3.31468 11.9787 3.20921L14.2252 0.962727C14.51 0.677962 14.408 0.196321 14.0143 0.111946C13.6662 0.0381179 13.3076 -0.000553944 12.9385 -0.000553944C10.1436 -0.000553944 7.876 2.26702 7.876 5.06195V5.09007L10.8748 8.0889C12.1404 7.76898 13.5397 8.10648 14.5311 9.09788L15.083 9.64984C16.8057 8.84124 18.001 7.09046 18.001 5.06195ZM1.96975 15.1869C1.96975 14.9632 2.05864 14.7486 2.21688 14.5903C2.37511 14.4321 2.58972 14.3432 2.8135 14.3432C3.03727 14.3432 3.25188 14.4321 3.41012 14.5903C3.56835 14.7486 3.65725 14.9632 3.65725 15.1869C3.65725 15.4107 3.56835 15.6253 3.41012 15.7836C3.25188 15.9418 3.03727 16.0307 2.8135 16.0307C2.58972 16.0307 2.37511 15.9418 2.21688 15.7836C2.05864 15.6253 1.96975 15.4107 1.96975 15.1869Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'headphones' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M9 1.6875C4.96055 1.6875 1.6875 4.96055 1.6875 9V10.4062C1.6875 10.8738 1.31133 11.25 0.84375 11.25C0.376172 11.25 0 10.8738 0 10.4062V9C0 4.02891 4.02891 0 9 0C13.9711 0 18 4.02891 18 9V14.066C18 15.7746 16.6148 17.1598 14.9027 17.1598L11.025 17.1562C10.7332 17.659 10.1883 18 9.5625 18H8.4375C7.50586 18 6.75 17.2441 6.75 16.3125C6.75 15.3809 7.50586 14.625 8.4375 14.625H9.5625C10.1883 14.625 10.7332 14.966 11.025 15.4688L14.9062 15.4723C15.6832 15.4723 16.3125 14.843 16.3125 14.066V9C16.3125 4.96055 13.0395 1.6875 9 1.6875ZM5.0625 7.3125H5.625C6.24727 7.3125 6.75 7.81523 6.75 8.4375V12.375C6.75 12.9973 6.24727 13.5 5.625 13.5H5.0625C3.82148 13.5 2.8125 12.491 2.8125 11.25V9.5625C2.8125 8.32148 3.82148 7.3125 5.0625 7.3125ZM12.9375 7.3125C14.1785 7.3125 15.1875 8.32148 15.1875 9.5625V11.25C15.1875 12.491 14.1785 13.5 12.9375 13.5H12.375C11.7527 13.5 11.25 12.9973 11.25 12.375V8.4375C11.25 7.81523 11.7527 7.3125 12.375 7.3125H12.9375Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'truck' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                        <path d="M1.35 0C0.604688 0 0 0.604688 0 1.35V10.35C0 11.0953 0.604688 11.7 1.35 11.7H1.8C1.8 13.1906 3.00937 14.4 4.5 14.4C5.99062 14.4 7.2 13.1906 7.2 11.7H10.8C10.8 13.1906 12.0094 14.4 13.5 14.4C14.9906 14.4 16.2 13.1906 16.2 11.7H17.1C17.5978 11.7 18 11.2978 18 10.8C18 10.3022 17.5978 9.9 17.1 9.9V8.1V7.2V6.67406C17.1 6.19594 16.9116 5.7375 16.5741 5.4L14.4 3.22594C14.0625 2.88844 13.6041 2.7 13.1259 2.7H11.7V1.35C11.7 0.604688 11.0953 0 10.35 0H1.35ZM11.7 4.5H13.1259L15.3 6.67406V7.2H11.7V4.5ZM3.15 11.7C3.15 11.342 3.29223 10.9986 3.54541 10.7454C3.79858 10.4922 4.14196 10.35 4.5 10.35C4.85804 10.35 5.20142 10.4922 5.45459 10.7454C5.70777 10.9986 5.85 11.342 5.85 11.7C5.85 12.058 5.70777 12.4014 5.45459 12.6546C5.20142 12.9078 4.85804 13.05 4.5 13.05C4.14196 13.05 3.79858 12.9078 3.54541 12.6546C3.29223 12.4014 3.15 12.058 3.15 11.7ZM13.5 10.35C13.858 10.35 14.2014 10.4922 14.4546 10.7454C14.7078 10.9986 14.85 11.342 14.85 11.7C14.85 12.058 14.7078 12.4014 14.4546 12.6546C14.2014 12.9078 13.858 13.05 13.5 13.05C13.142 13.05 12.7986 12.9078 12.5454 12.6546C12.2922 12.4014 12.15 12.058 12.15 11.7C12.15 11.342 12.2922 10.9986 12.5454 10.7454C12.7986 10.4922 13.142 10.35 13.5 10.35Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'credit-card' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                        <path d="M2 0C0.896875 0 0 0.896875 0 2V3H18V2C18 0.896875 17.1031 0 16 0H2ZM18 6H0V12C0 13.1031 0.896875 14 2 14H16C17.1031 14 18 13.1031 18 12V6ZM3.5 10H5.5C5.775 10 6 10.225 6 10.5C6 10.775 5.775 11 5.5 11H3.5C3.225 11 3 10.775 3 10.5C3 10.225 3.225 10 3.5 10ZM7 10.5C7 10.225 7.225 10 7.5 10H11.5C11.775 10 12 10.225 12 10.5C12 10.775 11.775 11 11.5 11H7.5C7.225 11 7 10.775 7 10.5Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'handshake' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M9.09562 0.59625L6.37313 2.80125C5.92031 3.16688 5.83313 3.825 6.17625 4.29469C6.53906 4.79531 7.245 4.89375 7.73156 4.51406L10.5244 2.34281C10.7213 2.19094 11.0025 2.22469 11.1572 2.42156C11.3119 2.61844 11.2753 2.89969 11.0784 3.05438L10.4906 3.51L14.4 7.11V1.8H14.3803L14.2706 1.72969L12.2287 0.421875C11.7984 0.14625 11.295 0 10.7831 0C10.17 0 9.57375 0.210937 9.09562 0.59625ZM9.73688 4.095L8.28281 5.22563C7.39687 5.9175 6.11156 5.7375 5.44781 4.82625C4.82344 3.96844 4.98094 2.77031 5.805 2.10375L8.145 0.210938C7.81875 0.073125 7.46719 0.00281246 7.11 0.00281246C6.58125 -4.29573e-08 6.06656 0.1575 5.625 0.45L3.6 1.8V8.1H4.39312L6.96375 10.4456C7.515 10.9491 8.36719 10.9097 8.87062 10.3584C9.02531 10.1869 9.12937 9.98719 9.18281 9.77906L9.66094 10.2178C10.2094 10.7213 11.0644 10.6847 11.5678 10.1363C11.6944 9.99844 11.7872 9.83813 11.8462 9.67219C12.3919 10.0378 13.1344 9.96187 13.5928 9.46125C14.0962 8.9128 14.0596 8.05781 13.5112 7.55437L9.73688 4.095ZM18 1.8V8.1H14.4V1.8H18ZM0 1.8V8.1H3.6V1.8H0Z" fill="#0A84FF"/>
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24" fill="none">
                        <path d="M2.1875 0C0.979818 0 0 0.979818 0 2.1875V21.1458C0 22.3535 0.979818 23.3333 2.1875 23.3333H6.5625V19.6875C6.5625 18.4798 7.54232 17.5 8.75 17.5C9.95768 17.5 10.9375 18.4798 10.9375 19.6875V23.3333H15.3125C16.5202 23.3333 17.5 22.3535 17.5 21.1458V2.1875C17.5 0.979818 16.5202 0 15.3125 0H2.1875ZM2.91667 10.9375C2.91667 10.5365 3.24479 10.2083 3.64583 10.2083H5.10417C5.50521 10.2083 5.83333 10.5365 5.83333 10.9375V12.3958C5.83333 12.7969 5.50521 13.125 5.10417 13.125H3.64583C3.24479 13.125 2.91667 12.7969 2.91667 12.3958V10.9375ZM8.02083 10.2083H9.47917C9.88021 10.2083 10.2083 10.5365 10.2083 10.9375V12.3958C10.2083 12.7969 9.88021 13.125 9.47917 13.125H8.02083C7.61979 13.125 7.29167 12.7969 7.29167 12.3958V10.9375C7.29167 10.5365 7.61979 10.2083 8.02083 10.2083ZM11.6667 10.9375C11.6667 10.5365 11.9948 10.2083 12.3958 10.2083H13.8542C14.2552 10.2083 14.5833 10.5365 14.5833 10.9375V12.3958C14.5833 12.7969 14.2552 13.125 13.8542 13.125H12.3958C11.9948 13.125 11.6667 12.7969 11.6667 12.3958V10.9375ZM3.64583 4.375H5.10417C5.50521 4.375 5.83333 4.70312 5.83333 5.10417V6.5625C5.83333 6.96354 5.50521 7.29167 5.10417 7.29167H3.64583C3.24479 7.29167 2.91667 6.96354 2.91667 6.5625V5.10417C2.91667 4.70312 3.24479 4.375 3.64583 4.375ZM7.29167 5.10417C7.29167 4.70312 7.61979 4.375 8.02083 4.375H9.47917C9.88021 4.375 10.2083 4.70312 10.2083 5.10417V6.5625C10.2083 6.96354 9.88021 7.29167 9.47917 7.29167H8.02083C7.61979 7.29167 7.29167 6.96354 7.29167 6.5625V5.10417ZM12.3958 4.375H13.8542C14.2552 4.375 14.5833 4.70312 14.5833 5.10417V6.5625C14.5833 6.96354 14.2552 7.29167 13.8542 7.29167H12.3958C11.9948 7.29167 11.6667 6.96354 11.6667 6.5625V5.10417C11.6667 4.70312 11.9948 4.375 12.3958 4.375Z" fill="#0A84FF"/>
                      </svg>
                  {% endcase %}
                </div>
                <span class="knowledge-center__accordion-title">{{ category.title }}</span>
              </div>
              <svg class="knowledge-center__accordion-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                <path d="M9.90773 0.376447C9.40567 -0.125617 8.59032 -0.125617 8.08825 0.376447L0.376547 8.08815C-0.125517 8.59022 -0.125517 9.40557 0.376547 9.90763C0.878611 10.4097 1.69396 10.4097 2.19603 9.90763L9 3.10366L15.804 9.90362C16.306 10.4057 17.1214 10.4057 17.6235 9.90362C18.1255 9.40155 18.1255 8.5862 17.6235 8.08414L9.91175 0.37243L9.90773 0.376447Z" fill="#A0AEC0"/>
              </svg>
            </button>
            <div class="knowledge-center__accordion-content">
              <div class="knowledge-center__questions-list">
                {% for qa in category.questions %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ qa.question }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ qa.answer }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for block in section.blocks %}
          {% if block.type == 'faq_category' %}
          <div class="knowledge-center__accordion" data-category="{{ block.settings.category }}" {{ block.shopify_attributes }}>
            <button class="knowledge-center__accordion-header" aria-expanded="false">
              <div class="knowledge-center__accordion-title-wrapper">
                <div class="knowledge-center__accordion-icon">
                  {% case block.settings.icon %}
                    {% when 'info' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24" fill="none">
                        <path d="M2.1875 0C0.979818 0 0 0.979818 0 2.1875V21.1458C0 22.3535 0.979818 23.3333 2.1875 23.3333H6.5625V19.6875C6.5625 18.4798 7.54232 17.5 8.75 17.5C9.95768 17.5 10.9375 18.4798 10.9375 19.6875V23.3333H15.3125C16.5202 23.3333 17.5 22.3535 17.5 21.1458V2.1875C17.5 0.979818 16.5202 0 15.3125 0H2.1875ZM2.91667 10.9375C2.91667 10.5365 3.24479 10.2083 3.64583 10.2083H5.10417C5.50521 10.2083 5.83333 10.5365 5.83333 10.9375V12.3958C5.83333 12.7969 5.50521 13.125 5.10417 13.125H3.64583C3.24479 13.125 2.91667 12.7969 2.91667 12.3958V10.9375ZM8.02083 10.2083H9.47917C9.88021 10.2083 10.2083 10.5365 10.2083 10.9375V12.3958C10.2083 12.7969 9.88021 13.125 9.47917 13.125H8.02083C7.61979 13.125 7.29167 12.7969 7.29167 12.3958V10.9375C7.29167 10.5365 7.61979 10.2083 8.02083 10.2083ZM11.6667 10.9375C11.6667 10.5365 11.9948 10.2083 12.3958 10.2083H13.8542C14.2552 10.2083 14.5833 10.5365 14.5833 10.9375V12.3958C14.5833 12.7969 14.2552 13.125 13.8542 13.125H12.3958C11.9948 13.125 11.6667 12.7969 11.6667 12.3958V10.9375ZM3.64583 4.375H5.10417C5.50521 4.375 5.83333 4.70312 5.83333 5.10417V6.5625C5.83333 6.96354 5.50521 7.29167 5.10417 7.29167H3.64583C3.24479 7.29167 2.91667 6.96354 2.91667 6.5625V5.10417C2.91667 4.70312 3.24479 4.375 3.64583 4.375ZM7.29167 5.10417C7.29167 4.70312 7.61979 4.375 8.02083 4.375H9.47917C9.88021 4.375 10.2083 4.70312 10.2083 5.10417V6.5625C10.2083 6.96354 9.88021 7.29167 9.47917 7.29167H8.02083C7.61979 7.29167 7.29167 6.96354 7.29167 6.5625V5.10417ZM12.3958 4.375H13.8542C14.2552 4.375 14.5833 4.70312 14.5833 5.10417V6.5625C14.5833 6.96354 14.2552 7.29167 13.8542 7.29167H12.3958C11.9948 7.29167 11.6667 6.96354 11.6667 6.5625V5.10417C11.6667 4.70312 11.9948 4.375 12.3958 4.375Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'monitor' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                        <path d="M2 0C0.896875 0 0 0.896875 0 2V11C0 12.1031 0.896875 13 2 13H7.5L7.16563 14H5C4.44688 14 4 14.4469 4 15C4 15.5531 4.44688 16 5 16H13C13.5531 16 14 15.5531 14 15C14 14.4469 13.5531 14 13 14H10.8344L10.5 13H16C17.1031 13 18 12.1031 18 11V2C18 0.896875 17.1031 0 16 0H2ZM16 2V11H2V2H16Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'tool' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M2.76428 0.175227C2.43029 -0.0849289 1.95568 -0.0532883 1.65334 0.24554L0.24709 1.65179C-0.0517381 1.95062 -0.0833787 2.42523 0.173262 2.76273L2.98576 6.41898C3.14397 6.6264 3.39357 6.74945 3.65373 6.74945H5.55568L9.38772 10.5815C8.87092 11.601 9.03615 12.8807 9.89045 13.7315L13.8279 17.669C14.2674 18.1084 14.9811 18.1084 15.4205 17.669L17.6705 15.419C18.11 14.9795 18.11 14.2659 17.6705 13.8264L13.733 9.8889C12.8822 9.03812 11.6026 8.86937 10.583 9.38616L6.751 5.55413V3.6557C6.751 3.39202 6.62795 3.14593 6.42053 2.98773L2.76428 0.175227ZM0.700606 13.9248C0.254121 14.3713 0.000996255 14.9795 0.000996255 15.6123C0.000996255 16.9307 1.06975 17.9994 2.38811 17.9994C3.02092 17.9994 3.62912 17.7463 4.07561 17.2998L8.21701 13.1584C7.94279 12.4237 7.90061 11.6256 8.09045 10.8698L5.92131 8.70062L0.700606 13.9248ZM18.001 5.06195C18.001 4.6928 17.9623 4.33421 17.8885 3.98968C17.8041 3.59593 17.3225 3.49398 17.0377 3.77874L14.7912 6.02523C14.6858 6.1307 14.5416 6.19046 14.394 6.19046H12.376C12.0666 6.19046 11.8135 5.93734 11.8135 5.62796V3.60648C11.8135 3.45882 11.8733 3.31468 11.9787 3.20921L14.2252 0.962727C14.51 0.677962 14.408 0.196321 14.0143 0.111946C13.6662 0.0381179 13.3076 -0.000553944 12.9385 -0.000553944C10.1436 -0.000553944 7.876 2.26702 7.876 5.06195V5.09007L10.8748 8.0889C12.1404 7.76898 13.5397 8.10648 14.5311 9.09788L15.083 9.64984C16.8057 8.84124 18.001 7.09046 18.001 5.06195ZM1.96975 15.1869C1.96975 14.9632 2.05864 14.7486 2.21688 14.5903C2.37511 14.4321 2.58972 14.3432 2.8135 14.3432C3.03727 14.3432 3.25188 14.4321 3.41012 14.5903C3.56835 14.7486 3.65725 14.9632 3.65725 15.1869C3.65725 15.4107 3.56835 15.6253 3.41012 15.7836C3.25188 15.9418 3.03727 16.0307 2.8135 16.0307C2.58972 16.0307 2.37511 15.9418 2.21688 15.7836C2.05864 15.6253 1.96975 15.4107 1.96975 15.1869Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'headphones' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M9 1.6875C4.96055 1.6875 1.6875 4.96055 1.6875 9V10.4062C1.6875 10.8738 1.31133 11.25 0.84375 11.25C0.376172 11.25 0 10.8738 0 10.4062V9C0 4.02891 4.02891 0 9 0C13.9711 0 18 4.02891 18 9V14.066C18 15.7746 16.6148 17.1598 14.9027 17.1598L11.025 17.1562C10.7332 17.659 10.1883 18 9.5625 18H8.4375C7.50586 18 6.75 17.2441 6.75 16.3125C6.75 15.3809 7.50586 14.625 8.4375 14.625H9.5625C10.1883 14.625 10.7332 14.966 11.025 15.4688L14.9062 15.4723C15.6832 15.4723 16.3125 14.843 16.3125 14.066V9C16.3125 4.96055 13.0395 1.6875 9 1.6875ZM5.0625 7.3125H5.625C6.24727 7.3125 6.75 7.81523 6.75 8.4375V12.375C6.75 12.9973 6.24727 13.5 5.625 13.5H5.0625C3.82148 13.5 2.8125 12.491 2.8125 11.25V9.5625C2.8125 8.32148 3.82148 7.3125 5.0625 7.3125ZM12.9375 7.3125C14.1785 7.3125 15.1875 8.32148 15.1875 9.5625V11.25C15.1875 12.491 14.1785 13.5 12.9375 13.5H12.375C11.7527 13.5 11.25 12.9973 11.25 12.375V8.4375C11.25 7.81523 11.7527 7.3125 12.375 7.3125H12.9375Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'truck' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                        <path d="M1.35 0C0.604688 0 0 0.604688 0 1.35V10.35C0 11.0953 0.604688 11.7 1.35 11.7H1.8C1.8 13.1906 3.00937 14.4 4.5 14.4C5.99062 14.4 7.2 13.1906 7.2 11.7H10.8C10.8 13.1906 12.0094 14.4 13.5 14.4C14.9906 14.4 16.2 13.1906 16.2 11.7H17.1C17.5978 11.7 18 11.2978 18 10.8C18 10.3022 17.5978 9.9 17.1 9.9V8.1V7.2V6.67406C17.1 6.19594 16.9116 5.7375 16.5741 5.4L14.4 3.22594C14.0625 2.88844 13.6041 2.7 13.1259 2.7H11.7V1.35C11.7 0.604688 11.0953 0 10.35 0H1.35ZM11.7 4.5H13.1259L15.3 6.67406V7.2H11.7V4.5ZM3.15 11.7C3.15 11.342 3.29223 10.9986 3.54541 10.7454C3.79858 10.4922 4.14196 10.35 4.5 10.35C4.85804 10.35 5.20142 10.4922 5.45459 10.7454C5.70777 10.9986 5.85 11.342 5.85 11.7C5.85 12.058 5.70777 12.4014 5.45459 12.6546C5.20142 12.9078 4.85804 13.05 4.5 13.05C4.14196 13.05 3.79858 12.9078 3.54541 12.6546C3.29223 12.4014 3.15 12.058 3.15 11.7ZM13.5 10.35C13.858 10.35 14.2014 10.4922 14.4546 10.7454C14.7078 10.9986 14.85 11.342 14.85 11.7C14.85 12.058 14.7078 12.4014 14.4546 12.6546C14.2014 12.9078 13.858 13.05 13.5 13.05C13.142 13.05 12.7986 12.9078 12.5454 12.6546C12.2922 12.4014 12.15 12.058 12.15 11.7C12.15 11.342 12.2922 10.9986 12.5454 10.7454C12.7986 10.4922 13.142 10.35 13.5 10.35Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'credit-card' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                        <path d="M2 0C0.896875 0 0 0.896875 0 2V3H18V2C18 0.896875 17.1031 0 16 0H2ZM18 6H0V12C0 13.1031 0.896875 14 2 14H16C17.1031 14 18 13.1031 18 12V6ZM3.5 10H5.5C5.775 10 6 10.225 6 10.5C6 10.775 5.775 11 5.5 11H3.5C3.225 11 3 10.775 3 10.5C3 10.225 3.225 10 3.5 10ZM7 10.5C7 10.225 7.225 10 7.5 10H11.5C11.775 10 12 10.225 12 10.5C12 10.775 11.775 11 11.5 11H7.5C7.225 11 7 10.775 7 10.5Z" fill="#0A84FF"/>
                      </svg>
                    {% when 'handshake' %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M9.09562 0.59625L6.37313 2.80125C5.92031 3.16688 5.83313 3.825 6.17625 4.29469C6.53906 4.79531 7.245 4.89375 7.73156 4.51406L10.5244 2.34281C10.7213 2.19094 11.0025 2.22469 11.1572 2.42156C11.3119 2.61844 11.2753 2.89969 11.0784 3.05438L10.4906 3.51L14.4 7.11V1.8H14.3803L14.2706 1.72969L12.2287 0.421875C11.7984 0.14625 11.295 0 10.7831 0C10.17 0 9.57375 0.210937 9.09562 0.59625ZM9.73688 4.095L8.28281 5.22563C7.39687 5.9175 6.11156 5.7375 5.44781 4.82625C4.82344 3.96844 4.98094 2.77031 5.805 2.10375L8.145 0.210938C7.81875 0.073125 7.46719 0.00281246 7.11 0.00281246C6.58125 -4.29573e-08 6.06656 0.1575 5.625 0.45L3.6 1.8V8.1H4.39312L6.96375 10.4456C7.515 10.9491 8.36719 10.9097 8.87062 10.3584C9.02531 10.1869 9.12937 9.98719 9.18281 9.77906L9.66094 10.2178C10.2094 10.7213 11.0644 10.6847 11.5678 10.1363C11.6944 9.99844 11.7872 9.83813 11.8462 9.67219C12.3919 10.0378 13.1344 9.96187 13.5928 9.46125C14.0962 8.9128 14.0596 8.05781 13.5112 7.55437L9.73688 4.095ZM18 1.8V8.1H14.4V1.8H18ZM0 1.8V8.1H3.6V1.8H0Z" fill="#0A84FF"/>
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24" fill="none">
                        <path d="M2.1875 0C0.979818 0 0 0.979818 0 2.1875V21.1458C0 22.3535 0.979818 23.3333 2.1875 23.3333H6.5625V19.6875C6.5625 18.4798 7.54232 17.5 8.75 17.5C9.95768 17.5 10.9375 18.4798 10.9375 19.6875V23.3333H15.3125C16.5202 23.3333 17.5 22.3535 17.5 21.1458V2.1875C17.5 0.979818 16.5202 0 15.3125 0H2.1875ZM2.91667 10.9375C2.91667 10.5365 3.24479 10.2083 3.64583 10.2083H5.10417C5.50521 10.2083 5.83333 10.5365 5.83333 10.9375V12.3958C5.83333 12.7969 5.50521 13.125 5.10417 13.125H3.64583C3.24479 13.125 2.91667 12.7969 2.91667 12.3958V10.9375ZM8.02083 10.2083H9.47917C9.88021 10.2083 10.2083 10.5365 10.2083 10.9375V12.3958C10.2083 12.7969 9.88021 13.125 9.47917 13.125H8.02083C7.61979 13.125 7.29167 12.7969 7.29167 12.3958V10.9375C7.29167 10.5365 7.61979 10.2083 8.02083 10.2083ZM11.6667 10.9375C11.6667 10.5365 11.9948 10.2083 12.3958 10.2083H13.8542C14.2552 10.2083 14.5833 10.5365 14.5833 10.9375V12.3958C14.5833 12.7969 14.2552 13.125 13.8542 13.125H12.3958C11.9948 13.125 11.6667 12.7969 11.6667 12.3958V10.9375ZM3.64583 4.375H5.10417C5.50521 4.375 5.83333 4.70312 5.83333 5.10417V6.5625C5.83333 6.96354 5.50521 7.29167 5.10417 7.29167H3.64583C3.24479 7.29167 2.91667 6.96354 2.91667 6.5625V5.10417C2.91667 4.70312 3.24479 4.375 3.64583 4.375ZM7.29167 5.10417C7.29167 4.70312 7.61979 4.375 8.02083 4.375H9.47917C9.88021 4.375 10.2083 4.70312 10.2083 5.10417V6.5625C10.2083 6.96354 9.88021 7.29167 9.47917 7.29167H8.02083C7.61979 7.29167 7.29167 6.96354 7.29167 6.5625V5.10417ZM12.3958 4.375H13.8542C14.2552 4.375 14.5833 4.70312 14.5833 5.10417V6.5625C14.5833 6.96354 14.2552 7.29167 13.8542 7.29167H12.3958C11.9948 7.29167 11.6667 6.96354 11.6667 6.5625V5.10417C11.6667 4.70312 11.9948 4.375 12.3958 4.375Z" fill="#0A84FF"/>
                      </svg>
                    {% endcase %}
                </div>
                <span class="knowledge-center__accordion-title">{{ block.settings.title }}</span>
              </div>
              <svg class="knowledge-center__accordion-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                <path d="M9.90773 0.376447C9.40567 -0.125617 8.59032 -0.125617 8.08825 0.376447L0.376547 8.08815C-0.125517 8.59022 -0.125517 9.40557 0.376547 9.90763C0.878611 10.4097 1.69396 10.4097 2.19603 9.90763L9 3.10366L15.804 9.90362C16.306 10.4057 17.1214 10.4057 17.6235 9.90362C18.1255 9.40155 18.1255 8.5862 17.6235 8.08414L9.91175 0.37243L9.90773 0.376447Z" fill="#A0AEC0"/>
              </svg>
            </button>
            <div class="knowledge-center__accordion-content">
              <div class="knowledge-center__questions-list">
                {% if block.settings.question_1 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_1 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_1 }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.question_2 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_2 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_2 }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.question_3 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_3 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_3 }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.question_4 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_4 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_4 }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.question_5 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_5 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_5 }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.question_6 != blank %}
                  <div class="knowledge-center__question-item">
                    <button class="knowledge-center__question-header" aria-expanded="false">
                      <span>{{ block.settings.question_6 }}</span>
                      <svg class="knowledge-center__question-arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                        <path d="M8.09227 9.90773C8.59433 10.4098 9.40968 10.4098 9.91175 9.90773L17.6235 2.19603C18.1255 1.69396 18.1255 0.878612 17.6235 0.376548C17.1214 -0.125516 16.306 -0.125516 15.804 0.376548L9 7.18052L2.19603 0.380564C1.69396 -0.1215 0.878612 -0.1215 0.376548 0.380564C-0.125516 0.882628 -0.125516 1.69798 0.376548 2.20004L8.08825 9.91175L8.09227 9.90773Z" fill="#A0AEC0"/>
                      </svg>
                    </button>
                    <div class="knowledge-center__answer">
                      <p>{{ block.settings.answer_6 }}</p>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    </div>
  </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const accordionHeaders = document.querySelectorAll('.knowledge-center__accordion-header');
  accordionHeaders.forEach(header => {
    header.addEventListener('click', function() {
      const accordion = this.closest('.knowledge-center__accordion');
      const isExpanded = this.getAttribute('aria-expanded') === 'true';

      accordionHeaders.forEach(h => {
        h.setAttribute('aria-expanded', 'false');
        h.closest('.knowledge-center__accordion').classList.remove('active');
      });

      if (!isExpanded) {
        this.setAttribute('aria-expanded', 'true');
        accordion.classList.add('active');
      }
    });
  });

  const questionHeaders = document.querySelectorAll('.knowledge-center__question-header');
  questionHeaders.forEach(header => {
    header.addEventListener('click', function() {
      const questionItem = this.closest('.knowledge-center__question-item');
      const isExpanded = this.getAttribute('aria-expanded') === 'true';

      this.setAttribute('aria-expanded', !isExpanded);
      questionItem.classList.toggle('active');
    });
  });

  const filterBtns = document.querySelectorAll('.knowledge-center__filter-btn');
  const filterSelect = document.querySelector('.knowledge-center__filter-select');
  const accordions = document.querySelectorAll('.knowledge-center__accordion');

  function filterAccordions(filter) {
    accordions.forEach(accordion => {
      if (filter === 'all' || accordion.dataset.category === filter) {
        accordion.style.display = 'block';
      } else {
        accordion.style.display = 'none';
      }
    });
  }

  filterBtns.forEach(btn => {
    btn.addEventListener('click', function() {
      filterBtns.forEach(b => b.classList.remove('active'));
      this.classList.add('active');
      filterAccordions(this.dataset.filter);

      // Sync dropdown
      if (filterSelect) {
        filterSelect.value = this.dataset.filter;
      }
    });
  });

  // Mobile dropdown filter
  if (filterSelect) {
    filterSelect.addEventListener('change', function() {
      const filter = this.value;
      filterAccordions(filter);

      // Sync buttons
      filterBtns.forEach(btn => {
        btn.classList.toggle('active', btn.dataset.filter === filter);
      });
    });
  }

  const searchInput = document.querySelector('.knowledge-center__search-input');
  if (searchInput) {
    searchInput.addEventListener('input', function() {
      const searchTerm = this.value.toLowerCase();
      const questionItems = document.querySelectorAll('.knowledge-center__question-item');

      if (searchTerm.length > 0) {
        accordions.forEach(accordion => {
          accordion.classList.add('active');
          accordion.querySelector('.knowledge-center__accordion-header').setAttribute('aria-expanded', 'true');
        });

        questionItems.forEach(item => {
          const questionText = item.querySelector('.knowledge-center__question-header span').textContent.toLowerCase();
          if (questionText.includes(searchTerm)) {
            item.style.display = 'block';
          } else {
            item.style.display = 'none';
          }
        });
      } else {
        accordions.forEach(accordion => {
          accordion.classList.remove('active');
          accordion.querySelector('.knowledge-center__accordion-header').setAttribute('aria-expanded', 'false');
        });
        questionItems.forEach(item => {
          item.style.display = 'block';
        });
      }
    });
  }
});
</script>

{% schema %}
{
  "name": "Knowledge Center",
  "tag": "section",
  "class": "knowledge-center-section",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Section Label",
      "default": "KNOWLEDGE CENTER"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Knowledge Center"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Everything you need to know about Pro Spectrum"
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search Placeholder",
      "default": "Search for answers..."
    },
    {
      "type": "header",
      "content": "Filter Buttons"
    },
    {
      "type": "text",
      "id": "filter_all",
      "label": "All Filter Label",
      "default": "All"
    },
    {
      "type": "text",
      "id": "filter_product",
      "label": "Product Filter Label",
      "default": "Product"
    },
    {
      "type": "text",
      "id": "filter_support",
      "label": "Support Filter Label",
      "default": "Support"
    },
    {
      "type": "text",
      "id": "filter_shipping",
      "label": "Shipping Filter Label",
      "default": "Shipping"
    },
    {
      "type": "text",
      "id": "filter_payment",
      "label": "Payment Filter Label",
      "default": "Payment"
    },
    {
      "type": "text",
      "id": "filter_partnerships",
      "label": "Partnerships Filter Label",
      "default": "Partnerships"
    }
  ],
  "blocks": [
    {
      "type": "faq_category",
      "name": "FAQ Category",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Category Title",
          "default": "About Brightlink"
        },
        {
          "type": "select",
          "id": "category",
          "label": "Filter Category",
          "options": [
            { "value": "all", "label": "All" },
            { "value": "product", "label": "Product" },
            { "value": "support", "label": "Support" },
            { "value": "shipping", "label": "Shipping" },
            { "value": "payment", "label": "Payment" },
            { "value": "partnerships", "label": "Partnerships" }
          ],
          "default": "all"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Category Icon",
          "options": [
            { "value": "info", "label": "Info" },
            { "value": "monitor", "label": "Monitor" },
            { "value": "tool", "label": "Tool" },
            { "value": "headphones", "label": "Headphones" },
            { "value": "truck", "label": "Truck" },
            { "value": "credit-card", "label": "Credit Card" },
            { "value": "handshake", "label": "Handshake" },
            { "value": "question", "label": "Question" }
          ],
          "default": "info"
        },
        {
          "type": "header",
          "content": "Question 1"
        },
        {
          "type": "text",
          "id": "question_1",
          "label": "Question 1",
          "default": "How long has Brightlink been in business?"
        },
        {
          "type": "textarea",
          "id": "answer_1",
          "label": "Answer 1",
          "default": "Brightlink has been in business for over 10 years, providing high-quality LED display solutions to customers worldwide."
        },
        {
          "type": "header",
          "content": "Question 2"
        },
        {
          "type": "text",
          "id": "question_2",
          "label": "Question 2",
          "default": "What makes Brightlink different from competitors?"
        },
        {
          "type": "textarea",
          "id": "answer_2",
          "label": "Answer 2",
          "default": "Brightlink stands out with our commitment to quality, innovative technology, and exceptional customer support."
        },
        {
          "type": "header",
          "content": "Question 3"
        },
        {
          "type": "text",
          "id": "question_3",
          "label": "Question 3",
          "default": "Where is Brightlink located and operated?"
        },
        {
          "type": "textarea",
          "id": "answer_3",
          "label": "Answer 3",
          "default": "Brightlink operates globally with headquarters and showrooms in multiple locations to serve our customers better."
        },
        {
          "type": "header",
          "content": "Question 4"
        },
        {
          "type": "text",
          "id": "question_4",
          "label": "Question 4"
        },
        {
          "type": "textarea",
          "id": "answer_4",
          "label": "Answer 4"
        },
        {
          "type": "header",
          "content": "Question 5"
        },
        {
          "type": "text",
          "id": "question_5",
          "label": "Question 5"
        },
        {
          "type": "textarea",
          "id": "answer_5",
          "label": "Answer 5"
        },
        {
          "type": "header",
          "content": "Question 6"
        },
        {
          "type": "text",
          "id": "question_6",
          "label": "Question 6"
        },
        {
          "type": "textarea",
          "id": "answer_6",
          "label": "Answer 6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Knowledge Center",
      "blocks": [
        {
          "type": "faq_category",
          "settings": {
            "title": "About Brightlink",
            "category": "all",
            "icon": "info",
            "question_1": "How long has Brightlink been in business?",
            "answer_1": "Brightlink has been in business for over 10 years, providing high-quality LED display solutions to customers worldwide.",
            "question_2": "What makes Brightlink different from competitors?",
            "answer_2": "Brightlink stands out with our commitment to quality, innovative technology, and exceptional customer support.",
            "question_3": "Where is Brightlink located and operated?",
            "answer_3": "Brightlink operates globally with headquarters and showrooms in multiple locations to serve our customers better.",
            "question_4": "Does Brightlink have a physical showroom?",
            "answer_4": "Yes, Brightlink has physical showrooms where you can see our LED displays in action and speak with our experts.",
            "question_5": "Who are Brightlink's typical customers?",
            "answer_5": "Our customers range from small businesses to large corporations, including retail stores, event venues, churches, and entertainment facilities."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Product & Technical",
            "category": "product",
            "icon": "monitor",
            "question_1": "What types of LED displays does Brightlink offer?",
            "answer_1": "We offer a wide range of LED displays including indoor, outdoor, rental, and custom solutions for various applications.",
            "question_2": "What is the pixel pitch and why does it matter?",
            "answer_2": "Pixel pitch is the distance between LED pixels. Smaller pixel pitch means higher resolution and better image quality for closer viewing distances.",
            "question_3": "How long do Brightlink LED displays last?",
            "answer_3": "Our LED displays are designed to last 100,000+ hours of operation with proper maintenance and care."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Installation & Setup",
            "category": "support",
            "icon": "tool",
            "question_1": "Do you provide installation services?",
            "answer_1": "Yes, we offer professional installation services to ensure your LED display is set up correctly and optimally.",
            "question_2": "What are the power requirements?",
            "answer_2": "Power requirements vary by display size and model. Our team will provide specific requirements during the consultation process.",
            "question_3": "How long does installation take?",
            "answer_3": "Installation time depends on the project scope, but most standard installations can be completed within 1-3 days."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Support & Warranty",
            "category": "support",
            "icon": "headphones",
            "question_1": "What warranty do you offer?",
            "answer_1": "We offer comprehensive warranties on all our products, typically ranging from 2-5 years depending on the product line.",
            "question_2": "How do I get technical support?",
            "answer_2": "Our technical support team is available via phone, email, and live chat to assist with any issues or questions.",
            "question_3": "Do you offer on-site support?",
            "answer_3": "Yes, we provide on-site support services for complex issues that cannot be resolved remotely."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Shipping & Delivery",
            "category": "shipping",
            "icon": "truck",
            "question_1": "How long does shipping take?",
            "answer_1": "Shipping times vary based on location and product availability. Standard delivery is typically 2-4 weeks for custom orders.",
            "question_2": "Do you ship internationally?",
            "answer_2": "Yes, we ship to most countries worldwide. International shipping times and costs vary by destination.",
            "question_3": "How is the product packaged for shipping?",
            "answer_3": "All products are carefully packaged in protective materials and custom crating to ensure safe delivery."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Payment & Financing",
            "category": "payment",
            "icon": "credit-card",
            "question_1": "What payment methods do you accept?",
            "answer_1": "We accept major credit cards, bank transfers, and various financing options for qualified customers.",
            "question_2": "Do you offer financing options?",
            "answer_2": "Yes, we offer flexible financing plans to help make your LED display investment more manageable.",
            "question_3": "Is a deposit required?",
            "answer_3": "A deposit is typically required for custom orders. The amount varies based on the project scope."
          }
        },
        {
          "type": "faq_category",
          "settings": {
            "title": "Business & Partnerships",
            "category": "partnerships",
            "icon": "handshake",
            "question_1": "Do you offer reseller programs?",
            "answer_1": "Yes, we have partnership programs for resellers and integrators. Contact us for more information.",
            "question_2": "Can I become a Brightlink dealer?",
            "answer_2": "We welcome qualified dealers to join our network. Please reach out to our partnership team for requirements.",
            "question_3": "Do you offer bulk discounts?",
            "answer_3": "Yes, we offer competitive pricing for bulk orders and long-term partnership agreements."
          }
        }
      ]
    }
  ]
}
{% endschema %}
